{{#extend 'default'}}
  {{#content 'content'}}

    <div itemscope itemtype="http://schema.org/Article" class="vclPost">
      <header class="vclPostHeader">
        <h1 itemprop="name" class="post-title">
          {{@root.page.title}}
        </h1>
        <p class="post-meta">
          <span itemprop="datePublished" content="{{@root.page.date}}">
            {{formatDate @root.page.date day="numeric" month="short" year="numeric"}}
          </span>
          {{#if @root.page.author }}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              {{#if @root.page.authorLink}}
                  <a href="{{{@root.page.authorLink}}}">
                    <span itemprop="name">
                      {{ @root.page.author }}
                    </span>
                  </a>
                {{else}}
                  <span itemprop="name">
                    {{ @root.page.author }}
                  </span>
              {{/if}}
            </span>
          {{/if}}
          {{#if @root.page.meta }} • {{@root.page.meta}} {{/if}}
          <span id="viewCounter" class="vclDisplayNone">• X view(s)</span>
          <br>
          <div class="vclTokenContainer">
            {{{post-tags @root.page.categories}}}
          </div>
        </p>
      </header>

      <article class="vclPostContent">
        {{{@root.content}}}
      </article>

      {{> 'newsletter'}}

      {{{more-posts current=@root.page posts=@root.site.posts}}}

      {{#if @root.page.comments }}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      {{/if}}

      <meta itemprop="url" content="{{@root.page.url}}">
    </div>


  {{/content}}
{{/extend}}